---
layout: default
title: Blog
permalink: /blog/
description: The other blog.
pagination: 
  enabled: true
  category: blog
  per_page: 5
---
<div class="posts">
  {%- for post in paginator.posts -%}
   {%- if post.publish != false -%}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        {%- if post.featured -%}
        <img class="portrait" src="{{ site.baseurl}}{{post.featured}}" alt="featured image"/>
        {%- endif -%}
      </a>
    </h2>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <p class="post-description">{{ post.description }}</p>
  </div>
 <div class="sep"></div>
  {%- endif -%}
  {%- endfor -%}
</div>

<div class="posts">
{% if page.paginator %}
{% assign paginator = page.paginator %}
{% for post in paginator.posts %}
<div class="post">
  <h2 class="post-title">
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}
      {%- if post.featured -%}
      <img class="portrait" src="{{ site.baseurl}}{{post.featured}}" alt="featured image"/>
      {%- endif -%}
    </a>
  </h2>
  <span class="post-date">{{ post.date | date_to_string }}</span>
  <p class="post-description">{{ post.description }}</p>
</div>
<div class="sep"></div>
{% endfor %}
{% endif %}
</div>

<!-- Pagination links -->


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <p class="previous"><a href="{{ paginator.previous_page_path }}">&laquo;</a></p>
  {% else %}
    <p class="previous disabled">&laquo;</p>
  {% endif %}
  <ol class="pages">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="page">
      <span class="current-page">{{ page }}</span></li>
    {% elsif page == 1 %}
      <li class="page"><a href="{{ '/blog/' | prepend: site.baseurl }}">{{ page }}</a></li>
    {% else %}
      <li class="page"><a href="{{ site.paginate_path | prepend: '/blog/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  </ol>
  {% if paginator.next_page %}
    <p class="next"><a href="{{ paginator.next_page_path }}">&raquo;</a></p>
  {% else %}
    <p class="next disabled">&raquo;</p>
  {% endif %}
</div>
{% endif %}